<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta chocotorta</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <h1>Receta de Chocotorta</h1>

    <h2>Chocotorta</h2>

    <img class="foto-chocotorta" src="../imagenes/chocotorta-en-el-plato.jpg" alt="">
    <p>La chocotorta es un clásico argentino que no pasa de moda. Este postre es el favorito de muchos por su sencillez
        y su irresistible sabor. Perfecto para cualquier ocasión, desde un cumpleaños hasta un simple antojo de dulce,
        la chocotorta es la solución rápida y deliciosa que nunca decepciona.
    </p>

    <h2>Ingredientes</h2>
    <ul>
        <li>400 gramos de galletitas de chocolate (Chocolinas o similar).</li>
        <li>500 gramos de queso crema.</li>
        <li>500 gramos de dulce de leche.</li>
        <li>1 taza de café frío o leche, para humedecer las galletitas.</li>

    </ul>

    <ol>

        <h2>Preparación</h2>


        <li>En un bol, mezcla el queso crema con el dulce de leche hasta obtener una crema homogénea.</li>
        <li>Prepara una fuente rectangular o cuadrada para armar la torta.</li>
        <li>Humedece ligeramente cada galletita en el café frío o en la leche.</li>
        <li>Coloca una capa de galletitas humedecidas en el fondo de la fuente.</li>
        <li>Cubre las galletitas con una capa de la mezcla de queso crema y dulce de leche.</li>
        <li>Repite el proceso intercalando capas de galletitas y crema hasta terminar con una capa de crema.</li>
        <li>Alisa la superficie con una espátula y cubre la fuente con film transparente.</li>
        <li>Lleva la torta a la heladera y deja reposar al menos 4 horas, preferiblemente toda la noche, para que las
            galletitas se ablanden y los sabores se integren.</li>
        <li>Antes de servir, si lo deseas, puedes decorar con cacao en polvo, virutas de chocolate o lo que prefieras.
        </li>
    </ol>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ahskzhRtzjY?si=gQIoBg2yBCjwI-2D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>

    <a target="_blank" href="https://www.infobae.com/tendencias/2024/08/15/receta-de-chocotorta-rapida-y-facil/"> Leer
        receta desde
        Infobae</a>
        <br>
    <a href="/index.html">Volver al inicio</a>
    <br>
    <a href="tiramisu.html">Ir a la receta de Tiramisú</a>
</body>

</html>