<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta Tiramisú</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <h1>Receta del tiramisú</h1>

    <h2>Tiramisú</h2>
    <img class="foto-tiramisu" src="../imagenes/tiramisú.jpg" alt="">

    <p>¡Nada más irresistible que un tiramisú bien hecho! Este clásico postre italiano, conocido por su textura suave y
        cremosa y su delicado sabor a café, es una delicia que muchos disfrutan en cualquier ocasión.

    </p>

    <h2>Ingredientes</h2>
    <ul>
        <li>250 gramos de queso mascarpone</li>
        <li>200 ml de nata para montar</li>
        <li>100 gramos de azúcar</li>
        <li>2 tazas de café fuerte (enfriado)</li>
        <li>2 cucharadas d1 paquete de bizcochos de soletillae licor (opcional)</li>
        <li>Cacao en polvo para espolvorear</li>
    </ul>

    <ol>

        <h2>Preparación</h2>


        <li>Prepara el café fuerte y déjalo enfriar. Si deseas, añade el licor al café.</li>
        <li>En un bol grande, bate la nata hasta que esté firme.</li>
        <li>En otro bol, mezcla el queso mascarpone con el azúcar hasta obtener una crema suave.</li>
        <li>Incorpora la nata montada a la mezcla de mascarpone y azúcar, mezclando suavemente hasta obtener una crema
            homogénea.</li>
        <li>Moja rápidamente los bizcochos de soletilla en el café frío, asegurándote de que no se empapen demasiado.
        </li>
        <li>Coloca una capa de bizcochos empapados en el fondo de un molde rectangular.</li>
        <li>Cubre los bizcochos con una capa de la crema de mascarpone.</li>
        <li>Repite las capas de bizcochos y crema hasta llenar el molde, terminando con una capa de crema.</li>
        <li>Espolvorea generosamente cacao en polvo sobre la capa final de crema.</li>
        <li>Refrigera el tiramisú durante al menos 2 horas antes de servir, para que los sabores se integren y la
            textura se asiente.</li>
    </ol>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/qy7dGoBukkc?si=V2d5v8nzH11n-ud5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <br>

    <a target="_blank" href="https://www.infobae.com/tendencias/2024/05/16/receta-de-tiramisu-rapida-y-facil/"> Leer
        receta desde
        Infobae</a>
    <br>

    <a href="/index.html">Volver al inicio</a>
    <br>
    <a href="chocotorta.html">Ir a la receta de chocotorta</a>
</body>

</html>